:root {
	--border-default: 2px solid #555;
}

/*--- Inputs ---*/
form  {
	padding: 0 30px 20px;
}

form input {
	font-size: 14px;
	width: 70%;
	padding: 2px;
	border: var(--border-default);
}

.input-wrapper {
	width: 270px;
	position: relative;
}

.input-wrapper div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 35px;
	position: relative;
}

.input-wrapper div:last-child {
	margin-bottom: 0;
}

/*--- Type Switcher ---*/
.type-switcher {
	display: flex;
	align-items: center;
	margin-top: 60px;
}

.type-switcher__types {
	margin-left: 20px;
	height: 30px;
	width: 120px;
	background: #fff;
	padding: 0 10px;
	font-size: 16px;
	color: #000;
	border: var(--border-default);
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/switcher-icon.png) center right 5px / 25px no-repeat;
}

/*--- Attributes ---*/
.type-attribute {
	margin-top: 50px;
	width: 400px;
	border: var(--border-default);
	border-radius: 5px;
	padding: 30px 30px 40px;
	position: relative;
}

.type-attribute div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
	position: relative;
}

.type-attribute input {
	width: 200px;
}

.type-attribute__description {
	margin-top: 50px;
}

/*--- Errors ---*/
.message {
	position: absolute;
	top: 35px;
	left: 1px;
	font-size: 13px;
	color: #555;
	transform: translateX(82px);
	white-space: nowrap;
	opacity: 0;
}

.message.active {
	opacity: 1;
}

.type-attribute .message {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	padding: 5px;

}

/*--- Some coorections ---*/
header {
	padding-bottom: 45px;
}

.btn-save {
	margin-right: 20px;
	font-family: 'GothamPro-Regular';
}

main {
	min-height: calc(100vh - 149px - 75px);
}

/*Media Queries*/
@media screen and (max-width: 1000px) {
	[type='submit'] {
		display: none;
	}

	.input-wrapper {
		width: 400px;
		position: relative;
	}

	.message { 	
		top: 35px;
		left: 9.5%;
		font-size: 15px;
	}	

}

@media screen and (max-width: 780px) {
	
	form {
		font-size: 20px;
	}

	.input-wrapper {
		width: 100%;
		position: relative;
	}

	.input-wrapper input {
		padding: 5px 5px;
		font-size: 18px;
		width: 75%;
	}

	.type-switcher__types {
		font-size: 20px;
	}

	.type-attribute {
		width: 100%;
	}

	.message { 	
		top: 45px;
		left: 0;
		font-size: 15px;
		transform: translateX(83%);
	}	

}

@media screen and (max-width: 456px) {
	form input {
		display: block;
	    padding: 5px 1px;
	}

	.type-attribute {
		padding: 20px 15px;
	}
	
	.type-attribute__description {
		font-size: 15px;
	}

	.input-wrapper div {
		width: 100%;
		display: block;
		margin-bottom: 35px;
	}

	.input-wrapper input {
		width: 100%;
		margin-top: 7px;
	}

	.type-attribute div {
		flex-flow: column;
		margin: 0;
	}

	.type-attribute input {
		margin: 15px;
		width: 100%;
	}

	.message { 	
		top: 68px;
		left: 0;
		font-size: 14px;
		transform: none;
		line-height: 1.25;
		white-space: initial;
	}

	.type-attribute .message {
		font-size: 14px;
		white-space: nowrap;
	}
}
