* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 400 16px / 1 'GothamPro-Regular', sans-serif;
}

.container {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
}

/*----Components----*/
.btn {
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	min-height: 25px;
	line-height: 25px;
	padding: 0 15px;
	padding-top: 5px;
	background: #fff;
	border: 2px solid #000000;
	color: #000;
	box-shadow: 5px 3px 1px #000000ee;
	cursor: pointer;
}

/*-----------------------------Main styles--------------------------------*/
/*---- Header ----*/
header {
	padding: 50px 0 25px;
}

header .row {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #000;
	padding: 0 30px 10px 5px;
	margin: 0 25px;
}

header .title {
	text-transform: capitalize;
	font-size: 42px;
}

header .btn-add {
	margin-right: 20px;
}

header .btn {
	transition: .2s;
}

header .btn:active {
	transform: translateY(1px) scale(.99);
}

/*---- Product List ----*/
.product-list .row {
	display: flex;
	flex-flow: row wrap;
}

.product {
	width: calc(25% - 50px);
	border: 3px solid black;
	margin: 0 25px 40px 25px;
}

.product input {
	display: block;
	transform: translate(10px, 10px);
	width: 20px;
	height: 20px;
	border: 2px solid #000;
	cursor: pointer;
	position: relative;
	-webkit-appearance: none;
}

.product input:checked {
	background: url(../images/tick-icon.png) center center / 13px no-repeat;
}

.product-info {
	line-height: 1.5;
	text-align: center;
	padding: 20px 0 50px;
	font-size: 14px;
	font-weight: 700;
	pointer-events: none;
}

/*---- Footer ----*/
main {
	min-height: calc(100vh - 129px - 75px);
}

footer {
	height: 75px;
	line-height: 75px;
	overflow: hidden;
}

footer .row {
	border-top: 2px solid #000;
	text-align: center;
}

.copyright {
	font-size: 14px;
}

/*Media Quereis*/
@media screen and (max-width: 1000px) {
	.product {
		width: calc(33.33% - 50px);		
	}
}

@media screen and (max-width: 780px) {

	body {
		font-size: 18px;
	}

	header .row {
		flex-flow: column;
		align-items: center;
		padding: 10px 0 10px;
	}

	header .title {
		font-size: 40px;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	.product {
		width: calc(50% - 30px);	
		margin: 0 15px 40px 15px;	
	}

	.btn {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

}

@media screen and (max-width: 456px) {
	header .title {
		font-size: 36px;
	}

	.product {
		width: 80%;
		margin: 20px auto;
	}

	.product-info {
		font-size: 18px;
	}

	.btn {
		padding: 10px;
		font-size: 20px;
	}

	footer {
		margin-top: 30px;
	}

	.copyright {
		font-size: 16px
	}
}

